REDIS_ADDR=localhost:6380

POSTGRES_URL=postgres://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable

WEBHOOK_URL=http://localhost:8081/request
NOTIFICATIONS_URL=http://localhost:8083/notify
SUSCRIPTOR_TOKEN=db35448ee13562d1e8cecca84742e9b5c96634a68401924f0c888bd0f15fbc89
PORT=8082
